<div class="container">
    <h1>Dashboard</h1>
  
    <div class="stats">
      <div>
        <h3>Nombre de Clients</h3>
        <p>{{ listClient.length }}</p>
      </div>
      <div>
        <h3>Nombre de Prestataires</h3>
        <p>{{ listPrest.length }}</p>
      </div>
      <div>
        <h3>Nombre de Services</h3>
        <p>{{ listCom.length }}</p>
      </div>
      <div>
        <h3>Nombre de Demande Accepter</h3>
        <p>{{ listDemande.length }}</p>
      </div>
    </div>
  
        
        <div class="chart-container">
          <h3>Statistiques des Utilisateurs et Services</h3>
          <canvas id="doughnutChart"></canvas>
        </div>
      </div>
      
   